/* Estilo Geral */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #06c066;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo img {
    max-width: 150px;
}

nav.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.menu ul li {
    margin-left: 20px;
}

nav.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

/* Seções */
main section {
    padding: 40px 20px;
    text-align: center;
}

main section#inicio {
    background-color: #e8f5e9;
}

main section h2 {
    font-size: 2rem;
    color: #2e7d32;
}

/* Galeria */
.galeria {
    margin-top: 20px;
}

.galeria .imagens {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Footer */
footer {
    background-color: #2e7d32;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
/* Imagem da seção Início */
section#inicio .imagem-bem-vindo img {
    width: 60%; /* Reduz a largura para 60% do container */
    max-width: 380px; /* Define um limite máximo para a largura */
    margin: 20px auto; /* Adiciona margem para espaçamento */
    display: block; /* Centraliza a imagem */
}
/* Seção Sobre */
section#sobre {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
}

section#sobre h2 {
    font-size: 2.5rem;
    color: #2e7d32;
    margin-bottom: 30px;
}

section#sobre p {
    font-size: 1.1rem;
    color: #444;
    margin: 15px auto;
    line-height: 1.8;
    width: 85%;
}

section#sobre .imagem-sobre img {
    margin-top: 30px;
    border-radius: 12px;
    max-width: 700px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
    